@font-face {
  // font-family: "myfontfamily";
  // src: url("./fonts/myfontfile.woff2") format("woff2"),
  //   url("./fonts/myfontfile.woff") format("woff"),
  //   url("./fonts/myfontfile.eot") format("embedded-opentype"),
  //   url("./fonts/myfontfile.ttf") format("truetype");
    /* Add other formats as you see fit */
}

body {
  background: cornsilk;

  background-image: url("../assets/logo.jpg");
  background-repeat: no-repeat;
  background-position: center;

}
.icon {
  background-image: url("../assets/vietnam.svg");
}
